{%extends 'bootstrap/base.html'%}

{%import 'bootstrap/wtf.html' as wtf%}

{%block title%}
Login
{%endblock%}

{%block content%}

<div class="container">
  <form method="GET" action="/signup" class="form-signup">
  <h2 class="form-signup-heading">Sign up</h2>
  {{form.hidden_tag()}}
  {{wtf.form_field(form.username)}}
  {{wtf.form_field(form.email)}}
  {{wtf.form_field(form.pass_secure)}}
  {{wtf.form_field(form.password_confirm)}}
    <button class="btn btn-lg btn-primary btn-block">Sign up</button>
  </form>
</div>

{%endblock%}